{% extends "base.html" %} 

{% block content %}

<section class="section-one">

  <div class="container">
    <div class="row">
      <div class="col" id="phen-div">

        <h1 id="phenomenal">Phenomenal</h1>
        <h1 id="paragons">Paragons</h1>
        
        <h2 id="connecting">
          Connecting Businesses and Creators
          <br>
          to form a lifelong partnership
        </h2>
        
        <p id="paragraph">Creating a bridge between large companies and creators!</p>
      </div>



      <div class="col">
        <div id="carousel-box">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
        
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/shaking-hands.jpg" class="d-block w-100" alt="Shaking Hands" />
                <div class="carousel-caption d-none d-md-block">
                  <p class="carousel-text-first">
                    Work With Companies You Believe In
                  </p>
                </div>
              </div>
        
              <div class="carousel-item">
                <img src="/static/brand-yourself.jpg" class="d-block w-100" alt="Brand Yourself" />
                <div class="carousel-caption d-none d-md-block">
                  <p class="carousel-text-second">
                    Brand Yourself Around Life-Changing Products & Services
                  </p>
                </div>
              </div>
        
              <div class="carousel-item">
                <img src="/static/collab.jpg" class="d-block w-100" alt="Collab" />
                <div class="carousel-caption d-none d-md-block">
                  <p class="carousel-text-third">
                    Collaborate With Companies Who Believe In You
                  </p>
                </div>
              </div>
            </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
        
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-two">

  <div class="container">
    <div class="row" id="partnership-icons">
      <div class="col">
        <nav>
          <ul class="nav justify-content-center">
              <li class="nav-item">
                <i class="bi bi-building" id="icon-one"></i>
                <a class="nav-link active" aria-current="page" href="#">Corporation <br> Partnership</a>
              </li>
          </ul>
        </nav>
      </div>

      <div class="col" id="creator-div">
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <i class="bi bi-people" id="icon-two"></i>
              <a class="nav-link" href="#">Creator <br> Partnership</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col" id="earning">
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <i class="bi bi-currency-dollar" id="icon-three"></i>
              <a class="nav-link" href="#">Start <br> Earning</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col" id="directly">
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <i class="bi bi-chat-square-text" id="icon-four"></i>
              <a class="nav-link" href="#" id="chat-directly">Chat <br> Directly</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>



<section class="section-three">

  <div class="container">
    <div class="row" id="two-cards">
      <div class="col">

          <h2 class="card-heading" id="discover-heading">
            Discover The Endless Possibilities!
          </h2>

          <div class="card">

            <img src="static/trophy.jpg" class="card-img-top" alt="Trophy">

            <div class="card-body" id="toprated-card">

              <h1 class="card-title" id="web-creator">Website For Creators <i class="bi bi-award"></i></h1>

              <p class="card-text">Opening Doors For Millions Of People Around The World</p>

              <a href="#" class="btn btn-primary btn-lg" id="card-btn">Our Progress</a>

            </div>
          
          </div>
      </div>


      <div class="col">

          <h2 class="card-heading" id="envision">
            Envision Earning Excellence!
          </h2>
          
          <div class="card">

            <img src="static/possible.jpg" class="card-img-top" alt="Possible">

            <div class="card-body">

              <h1 class="card-title" id="success">Success Stories <i class="bi bi-chat-dots"></i></h1>

              <p class="card-text">Broadening The Horizon One Day At A Time</p>

              <a href="#" class="btn btn-primary btn-lg" id="card-btn">Testimonials</a>
              
            </div>

          </div>
      </div>
    </div>
  </div>
</section>


<section class="section-four">

  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <h4 class="heading-featured-in">AS FEATURED IN</h4>

        <div class="logos">
          <img src="static/bloomberg.png" alt="Bloomberg" id="bloomberg">
          <img src="static/business-insider.png" alt="Business Insider" id="business-insider">
          <img src="static/ny-times.png" alt="New York Times" id="ny-times">
          <img src="static/usa-today.png" alt="Usa Today" id="usa-today">
          <img src="static/wsj.png" alt="Wall Street Journal" id="wsj">
        </div>

      </div>
    </div>
  </div>
</section>


<section class="section-five">


  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col" id="pricing-card">
        <div class="card border-info mb-3">
        
          <div class="card-header bg-transparent border-info">
            <h2 id="header-price">Free</h2>
          </div>
        
          <div class="card-body text-info" id="test">
        
            <h5 class="card-title-price">$0</h5>

            <p class="card-title-price2" id="subscription">No Subscription Required</p>
        
            <ul class="list-group list-group-flush" id="list">
        
              <li class="list-group-item"><i class="bi bi-check-circle"></i>
                Easy Entry</li>
        
              <li class="list-group-item"><i class="bi bi-check-circle"></i>
                24/7 Support</li>
        
              <li class="list-group-item" ><i class="bi bi-check-circle"></i>
                No Commitment</li>
        
              <li class="list-group-item"><i class="bi bi-check-circle"></i>
                No Contract Nerves</li>
        
              <li class="list-group-item"><i class="bi bi-check-circle"></i>
                No Payment Advantages</li>
        
            </ul>
        
          </div>
        
          <div class="card-footer bg-transparent border-info" id="footer">
            <a type="button" href="{{url_for('register')}} " class=" btn btn-info" id="footer-button">Get Started</a>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
